{% extends 'base.html' %}

{% block content %} 
<form method="post" class="post-form">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div class="form-group my-3">
        <label for="contnet">답변내용</label>
        <textarea class="form-control" name="content" id="content"
            rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary my-3 me-md-2">저장하기</button>
    </div>
</form>
{% endblock %}